.section {
  margin: 0 auto;
  padding: 80px 0px;
  width: 75%;
  @include mobile {
    width: 100%;
    padding: 20px;
  }
}

.container {
  padding: 0px 40px;
}

.upperName {
  color: $secondary-500;
  letter-spacing: $letterSpacing;
}
