.section {
  margin: 0 auto;
  margin-top: 80px;
  width: 75%;
  @include mobile {
    width: 100%;
    padding: 20px;
  }
}

.container {
  padding: 0px 40px;
}

.upperName {
  color: $secondary-500;
  letter-spacing: $letterSpacing;
}

.errorMsg {
  color: red;
}

.inputOpt {
  font-size: 0.65rem;
  text-transform: capitalize;
  margin-left: 1.25rem;
}

.subtitle {
  letter-spacing: $letterSpacing;
  color: $grey-50;
}

.icons {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  border: 0;
  font-size: 1.25rem;
  font-weight: 100;
  background-color: transparent;
  color: $grey-50;
  cursor: pointer;
}
