.CastList {
  height: 200px;
  // width: 800px;
  display: flex;
  overflow: auto;
  gap: 30px;
  padding: 20px;
  scroll-behavior: smooth;

  @include desktop {
    &::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 10px;
      height: 10px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 7px;
      background-color: $secondary-200;
      box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
      height: 10px;

      &:hover {
        background-color: $secondary-300;
      }

      &:active {
        background-color: $secondary-400;
      }
    }
  }
}
