.Hero {
  height: 700px;
  width: 100%;

  margin-top: 80px;


  .imageContainer {
    display: flex;
    height: 100%;
    width: 100%;
    overflow-y: hidden;
    overflow-x: overlay;
    scroll-snap-points-x: repeat(100vw);

    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;

    .singleImage {
      min-width: 100%;
      scroll-snap-align: center;
      box-shadow: $shadow-4;

      img {
        width: 100%;
        object-fit: cover;
        object-position: top;
        filter: saturate(1.25) grayscale(0.7);

      }
    }
  }

  @include tablet {
    height: 350px;
  }

  @include mobile {
    height: 300px;

  }
}
