.Hero {
  height: 700px;
  width: 100%;

  // margin-top: 20px;
  z-index: -2;

  ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }

  .imageContainer {
    display: flex;
    height: 100%;
    overflow: overlay;
    scroll-snap-points-x: repeat(100vw);
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;

    .singleImage {
      min-width: 100%;
      scroll-snap-align: center;
      box-shadow: $shadow-4;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
        filter: saturate(1.25);
      }
    }
  }

  @include tablet {
    width: 100%;
    height: 350px;
  }

  @include mobile {
    width: 100%;
    height: 300px;

    margin-left: 20%;
    margin-top: 80px;
    .singleImage {
      img {
        border-radius: $borderRadius;
      }
    }

  }
}
