.Ticket {
  margin: 0 30px;
  display: flex;
  gap: 100px;
  border-bottom: 1px solid $white;
  margin-bottom: 30px;
  @include tablet {
    gap: 20px;
    flex-wrap: wrap;
  }
  @include mobile {
    gap: 20px;
    flex-wrap: wrap;
  }

  .wrapper {
    display: flex;
    flex-direction: column;

    .infoUp,
    .infoDown {
      margin: 0;
      color: $secondary-500;
    }

    .infoUp {
      letter-spacing: $letterSpacing;
      font-weight: 600;
      text-transform: uppercase;
      @include tablet {
        letter-spacing: normal;
      }
      @include mobile {
        letter-spacing: normal;
      }
    }

    .date {
      text-transform: capitalize;
    }

    .infoDown {
      font-size: $small-text;
      color: $grey-200;
    }
  }
}
