.UserTicket {
  cursor: pointer;

  .upSection {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 95%;

    .ticketId {
      width: 180px;
      text-align: center;
    }

    .ticketTime {
      width: 140px;
      text-align: center;
    }

    .ticketFilm {
      flex-grow: 1;
      text-align: center;
      min-width: 190px;
    }

    .ticketSeat {
      width: 180px;
      text-align: center;
    }

    @include mobile {
      h4 {
        font-size: 1em;
      }
      h5 {
        font-size: 0.9em;
      }
      p {
        font-size: 0.8em;
      }
    }

    .expandIcon {
      transition: transform 0.35s ease;
    }
    .expanded {
      transform: rotate(180deg);
    }
  }
  .downSection {
    height: 0;
    overflow: hidden;
    text-align: center;
    transition: height 0.35s ease;
    background-color: $primary-50;

    &__expanded {
      height: 30px;
    }

    p {
      margin: 0 auto;
      color: $primary-400;
      cursor: pointer;
      transition: all 0.4s ease;

      &:hover {
        color: $secondary-500;
      }
    }
  }
}
