.Login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 1420px;
    height: 100%;
    background-image: url("https://www.themoviedb.org/t/p/original/zENT3sNfL2HONYS99sFEYlE6R28.jpg");
    background-repeat: no-repeat;
    background-position: 100% 50%;
    filter: blur(10px) saturate(1.25);
    -webkit-clip-path: polygon(0 0, 0 90%, 90% 0);
    clip-path: polygon(0 0, 0 90%, 90% 0);
    z-index: -9;

    @include mobile {
      display: none;
    }
  }
}
