.Info {
  .upSection {
    color: $primary-50;
    height: 60vh;
    display: flex;
    flex-direction: column;

    .trailerSection {
      height: 58%;
      overflow: hidden;

      .posterPath {
        width: 100%;
        object-fit: contain;
        transition: transform 2s ease;

        &:hover {
          transform: translateY(calc(-100vw + 50px));
        }
      }
    }

    .infoMovie {
      .title {
      }

      .otherInfo {
      }

      .voteInfo {
        .voteAverage {
          --percent: calc(var(--rating) / 10 * 100%);

          display: inline-block;
          font-size: var(--star-size);
          font-family: Times;
          line-height: 1;
          border-radius: $borderRadius;

          &::before {
            content: "★★★★★";
            letter-spacing: 3px;
            background: linear-gradient(
              90deg,
              $purple var(--percent),
              $secondary-50 var(--percent)
            );
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }

        .voteCount {
          color: $secondary-50;
          letter-spacing: $letterSpacing;
        }
      }

      & > * {
        text-align: center;
      }
    }
  }
}
