.Info {
  margin-bottom: 100px;

  .upSection {
    color: $primary-50;
    display: flex;
    height: 60vh;
    flex-direction: column;
    position: relative;

    @include mobile {
      height: 60vh;
    }

    .trailerSection {
      height: 58%;
      width: 100vw;
      overflow: hidden;

      iframe {
        width: 100%;
        height: 100%;
        overflow: hidden !important;
        border: none;
      }

      .posterPath {
        width: 100%;
        object-fit: contain;
        transition: transform 2s ease;

        &:hover {
          transform: translateY(calc(-100vw + 50px));
        }
      }
    }

    .infoMovie {
      .title {
        padding-top: 10px;
      }

      .otherInfo {
      }

      .voteInfo {
        .voteAverage {
          --percent: calc(var(--rating) / 10 * 100%);

          display: inline-block;
          font-size: var(--star-size);
          font-family: Times;
          line-height: 1;
          border-radius: $borderRadius;

          &::before {
            content: "★★★★★";
            letter-spacing: 3px;
            background: linear-gradient(
              90deg,
              $purple var(--percent),
              $secondary-50 var(--percent)
            );
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }

        .voteCount {
          color: $secondary-50;
          letter-spacing: $letterSpacing;
        }
      }

      & > * {
        text-align: center;
      }
    }
  }

  @include desktop {
    .fillScreen {
      height: 120vh;
      .trailerSection {
        height: 100vh;
      }
    }
  }

  .BackToHomeBtnContainer {
    position: absolute;
    top: 10px;
    left: 10px;
  }

  // -----------------Da qui comincia il codice di Andrea
  .loader {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 200px;
    // position: fixed;
    // top: 200px;
    // left: 45%;
  }
  .downSection {
    position: relative;
    width: 100%;

    .description {
      padding: 15px;
      width: 100%;
      // height: 300px;
      line-height: 20px;
      text-align: center;
    }

    .cast {
      text-align: center;
      height: 350px;
    }

    .buyTicketBtn {
      position: absolute;
      left: calc(50% - 45vw);
      bottom: -100px;
      width: 90vw;
      padding: 12.25px 17.25px;
      letter-spacing: $letterSpacing;
      border-radius: 15px;
      background: transparent;
      color: $secondary-500;
      border: 0.9px solid $secondary-500;
      transition: $transition;
      cursor: pointer;

      &:hover {
        background-color: $secondary-500;
        color: $grey-50;
      }
    }
  }
}
