* {
  -webkit-user-select: auto;
  user-select: none;
  -webkit-user-drag: none;
} /* FIXME: Inserire nello stile generale! */

.Tickets {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  background: #1f1f1f;

  .ticketContainer {
    background-size: cover;
    width: 90vw;

    .title {
      margin-bottom: 30px;
      font-weight: bold;
    }

    .day {
      margin: 50px 0 13px;
      text-align: center;
      font-weight: bold;
    }

    hr {
      margin: 0 auto 13px;
      width: 80%;
    }

    .dayTickets {
      min-height: 200px;
    }
  }

  .ticketToPrintContainer {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -5;
    backdrop-filter: blur(10px) grayscale(0.5);
    transition: all 0.35s ease;
    cursor: pointer;

    .ticketToPrint {
      transition: all 0.35s ease;
      transform: translate(300px);
      opacity: 0;
    }

    .moveToMid {
      transform: translate(0);
      opacity: 1;
    }
  }

  .showContainer {
    opacity: 1;
    z-index: 10;
  }
}

/* 
  $light-blue: #bfffff;
  $blue: #19dbe4;
  $green: #00fe86;
  $orange: #fe8f2a;
   */
