*::selection {
  background-color: $light-blue;
  color: $black;
} /* FIXME: Inserire nello stile generale! */

* {
  -webkit-user-select: auto;
  user-select: none;
  -webkit-user-drag: none;
} /* FIXME: Inserire nello stile generale! */

.Tickets {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  background: #1f1f1f;

  .ticketContainer {
    width: 90vw;

    .title {
      margin-bottom: 30px;
      font-weight: bold;
    }

    .day {
      margin: 50px 0 13px;
      text-align: center;
      font-weight: bold;
    }

    hr {
      margin: 0 auto 13px;
      width: 80%;
    }

    .dayTickets {
      min-height: 200px;
    }
  }
}

/* 
  $light-blue: #bfffff;
  $blue: #19dbe4;
  $green: #00fe86;
  $orange: #fe8f2a;
   */
