.Popup {
  position: fixed;
  top: calc(50% - 120px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 360px;
  height: 240px;
  padding: 20px;
  border-radius: $borderRadius;
  border: 2px solid $secondary-50;
  text-align: center;
  background-color: $grey-600;
  z-index: 2;
  @include mobile {
    width: 90%;
    max-width: 360px;
  }

  & > :first-child {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 1.4rem;
    width: 30px;
    height: 30px;
    color: $white;
    background-color: transparent;
    border: none;
    opacity: 0.5;
    cursor: pointer;
    transition: $transition;
    &:hover {
      opacity: 1;
    }
  }

  & > :nth-child(2) {
    color: $light-green;
    width: 50px;
    height: 50px;
  }

  & > :nth-child(4) {
    width: 150px;
    height: 2rem;
    letter-spacing: $letterSpacing;
    background-color: transparent;
    color: $white;
    border-radius: 20px;
    border: 0.9px solid $white;
    transition: $transition;
    cursor: pointer;

    &:hover {
      background-color: $secondary-500;
      color: $grey-50;
      border: none;
    }
  }
}
