.CardList {
  width: 100%;
  height: 425px;
  padding: 20px;
  overflow-x: overlay;
  scroll-behavior: smooth;
  display: flex;
  align-items: center;
  gap: 30px;

  @include mobile {
    height: 400px;
    overflow-y: hidden;
    scroll-snap-points-x: repeat(100vw);
    scroll-snap-type: x mandatory;
  }
}
.catTitle {
  color: $grey-50;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.loaderCard {
  display: flex;
  justify-content: center;
  align-items: center;
}

.invisibleBar {
  z-index: 0;
  display: flex;
  justify-content: space-between;
  width: 121%;
  transform: translate(-7vw, -300px);

  @include tablet {
    width: 127%;

    transform: translate(-9vw, -300px);
  }

  & > * {
    &:hover {
      animation: wiggle 2s linear infinite;
    }
  }

  @include mobile {
    display: none;
  }
}

@keyframes wiggle {
  0%,
  7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%,
  100% {
    transform: rotateZ(0);
  }
}
