.LoginForm {
  position: relative;
  width: 35rem;
  height: 50rem;
  background-color: $primary-800;
  border-radius: $borderRadius;
  box-shadow: $shadow-4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;

  .title {
    color: $purple;
  }

  .text {
    color: $grey-50;
    letter-spacing: $letterSpacing;
    font-weight: 100;
    span {
      color: $purple;
      cursor: pointer;
    }
  }

  .backBtn {
    position: absolute;
    display: flex;
    top: 1.25rem;
    left: 1.25rem;
    padding: 0.45rem;
    padding-right: 0.6rem;
    border-radius: 50%;
    background-color: transparent;
    border: 0;
    font-size: 1.75rem;

    color: $purple;
  }

  @include mobile {
    width: 100%;
    box-shadow: none;
  }
}

.form {
  width: 100%;
  margin-top: 2.5rem;

  .icons {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.25rem;
    font-weight: 100;
    color: $grey-50;
  }
}
