.LoginForm {
  position: relative;
  width: 35rem;
  height: 50rem;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;

  @include mobile {
    width: 80%;
    height: fit-content;
    box-shadow: none;
    background-color: transparent;
  }

  .title {
    font-family: "Anton", sans-serif;
    color: $blue;
  }

  .text {
    color: $grey-50;
    letter-spacing: $letterSpacing;
    font-weight: 100;
    span {
      font-family: "Anton", sans-serif;
      color: $white;
      cursor: pointer;
    }
  }

  .form {
    width: 100%;
    margin-top: 2.5rem;

    .icons {
      position: absolute;
      right: 1rem;
      top: 50%;
      transform: translateY(-50%);
      font-size: 1.25rem;
      font-weight: 100;
      color: $grey-800;
    }
  }
}
