.UserMiniModal {
  box-sizing: border-box;
  position: absolute;
  top: 40px;
  left: 40%;
  height: 200px;
  width: 150px;
  border-radius: 15px;
  background-color: $primary-600;
  text-align: end;
  padding: 10px;
  transition: all 0.4s ease;
  transform: translateY(-120px) translateX(70px) skewY(80deg) scale(0.1);
  opacity: 0;
  z-index: 10;

  .ticketsLink {
    color: $grey-50;
  }

  @include tablet {
    left: 12%;
  }
  @include mobile {
    left: 7.5%;
  }

  p {
    margin: 0;
    color: $primary-50;
    cursor: pointer;
    transition: all 0.35s ease;

    &:hover {
      color: $secondary-300;
    }
  }
}

.showMiniModal {
  transform: translateY(0px) skewY(0deg) scale(1);
  opacity: 1;
}
