.UserMiniModal {
  box-sizing: border-box;
  position: absolute;
  top: 80px;
  left: 20px;
  height: 200px;
  width: 150px;
  border-radius: 15px;
  background-color: $primary-600;
  text-align: end;
  padding: 10px;
  transition: all 0.4s ease;
  transform: translateY(-120px) translateX(70px) skewY(80deg) scale(0.1);
  opacity: 0;
  z-index: 10;

  p {
    margin: 0;
    color: $primary-100;
    cursor: pointer;
    transition: all 0.35s ease;

    &:hover {
      color: $secondary-300;
    }
  }
}

.showMiniModal {
  transform: translateY(0px) skewY(0deg) scale(1);
  opacity: 1;
}
