.Seat {
  background: linear-gradient(
    to top,
    #761818,
    #761818,
    #761818,
    #761818,
    #761818,
    #b54041,
    #f3686a
  );
  border: 2px solid #6e0c0e;
  box-shadow: 0px 18px 12px $black;
  width: 40px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;

  &:hover:before {
    content: "";
    position: absolute;
    width: 40px;
    height: 24px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
  }
}

.reserved {
  background: linear-gradient(
    to top,
    #1e0303,
    #1e0303,
    #1e0303,
    #1e0303,
    #1e0303,
    #550809,
    #6e0c0e
  );
  cursor: default;

  &:hover:before {
    display: none;
  }
}

.selected {
  background: linear-gradient(
    to top,
    $grey-300,
    $grey-300,
    $grey-300,
    $grey-300,
    $grey-50,
    $grey-50
  );
  &:hover:before {
    display: none;
  }
}
