.SeatList {
  // margin-top: 30px;
  width: 640px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
  @include mobile {
    transform: scale(0.55);
  }

  .left {
    width: 40%;
    transform: skew(-12deg) translateX(18px);
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .right {
    width: 40%;
    transform: skew(12deg) translateX(20px);
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
}

@media screen and (max-width: 319px) {
  .SeatList {
    transform: scale(0.45);
  }
}
