.Header {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  height: 80px;
  width: 100vw;
  background-color: $primary-800;
  color: $primary-100;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-shadow: 0 0 4px black;
  box-shadow: 0 0 4px black;
  padding: 20px;
  z-index: 9;

  .userInfo {
    p {
      margin: 0;
    }

    h4 {
      font-weight: 600;
      margin: 0;
      color: $primary-50;
      position: relative;
      cursor: pointer;
    }
  }

  .icons {
    font-size: 2em;

    & > * {
      margin: 0 10px;
      cursor: pointer;
      transition: color 0.4s ease;

      &:hover {
        color: $secondary-300;
      }
    }
  }

  .clicked {
    color: white;
  }

  .userSelected {
    span {
      color: $secondary-400;
    }
  }
}
