.Header {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 8rem;
  width: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 9;

  .logoWrapper {
    .logo {
      position: relative;
      text-transform: none;
      .flip {
        margin-right: 5px;
        border-bottom: 0.75px solid $grey-50;
        color: $blue;
        display: inline-block;
        transform: rotate(-90deg);
      }

      .text {
        position: absolute;
        bottom: -5px;
        color: $grey-50;
      }
    }
  }

  .navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1980px;
    height: 2.5rem;
    margin: 0 auto;
    padding: 10px 30px;
    border-radius: 40px;
    background-color: $grey-600;

    .wrapper {
      display: flex;
      gap: 5rem;

      // Modificata
      // ---------------------------------//
      & > a > h5 {
        color: #ffffff;
      }

      .movieTitle {
        font-family: "Anton", sans-serif;
        text-transform: uppercase;
        letter-spacing: 1px;
      }

      .navList {
        display: none;
      }

      .navList {
        display: flex;
        align-items: center;
        gap: 2rem;

        @include tablet {
          display: none;
        }
        @include mobile {
          display: none;
        }

        .link {
          text-transform: uppercase;
          letter-spacing: 0.8px;
          font-size: 0.8rem;
          font-weight: 200;
          color: #ffffff;
        }
      }
    }

    .wrapperEnd {
      display: flex;
      align-items: center;
      gap: 40px;
      .yearProd {
        font-size: 0.9rem;
        font-weight: 200;
        text-align: center;

        span {
          letter-spacing: 1px;
          color: $blue;
        }
      }

      .burger {
        width: 30px;
        height: 30px;
        display: none;
        flex-direction: column;
        justify-content: center;
        gap: 5px;

        cursor: pointer;

        @include tablet {
          display: flex;
        }
        @include mobile {
          display: flex;
        }

        .line1,
        .line2,
        .line3 {
          height: 2px;
          width: 100%;
          border-radius: 10px;
          background-color: #ffffff;
        }
      }
    }
  }
}
