.FormInput {
  position: relative;
  width: 100%;
  max-width: 300px;
  height: 2.75rem;
  margin: 0 auto;
  margin-bottom: 2.5rem;

  .input {
    width: 100%;
    height: 100%;
    padding: 0 20px;
    border: 0.9px solid $grey-500;
    border-radius: $borderRadius;
    letter-spacing: $letterSpacing;
    background-color: transparent;
    color: $grey-50;

    &:focus {
      outline: none;
    }

    &::placeholder {
      font-size: 0.75rem;
      color: $grey-500;
      text-transform: capitalize;
    }

    &:focus::placeholder {
      color: transparent;
    }
  }

  .subInput {
    width: 100%;
    height: 100%;
    margin-top: 0.25rem;
    border: 0;
    border-radius: $borderRadius;
    letter-spacing: $letterSpacing;
    font-weight: bold;
    background-color: $secondary-500;
    color: $grey-50;
    cursor: pointer;
  }
}
