.Footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  .infoFooter,
  .infoCenter {
    border-right: 2px solid $purple;
    width: 333px;
    height: 300px;
    margin: 0 10px;
    cursor: pointer;
  }

  .infoSocial {
    width: 333px;
    height: 300px;
    margin: 0 10px;

    cursor: pointer;
  }
  .nameSviluppatori {
    padding: 0;
    margin: 0;
    flex-basis: 100%;
    text-align: center;
    display: flex;
    justify-content: space-around;
  }

  :hover {
    color: $purple;
    transition: all 0.5s;
  }
}
