@import "../../scss/variables/colors";
@import "../../scss/helpers/resolutions";
.Footer {
  display: flex;
  height: 60px;
  width: 100%;
  position: absolute;
  bottom: 0;
  align-items: center;
  justify-content: center;
  background-color: $primary-500;

  .footerList {
    display: flex;
    padding: 0;
    gap: 100px;
    font-size: 1.5rem;
    cursor: pointer;

    :hover {
      color: $secondary-300;
      transition: all 0.5s;
    }
    .listItem {
      text-decoration: none;
      color: $secondary-500;
    }

    .iconsText {
      display: none;
    }
  }
}

@include desktop {
  .Footer {
    left: 0;
    // la barra partirà dall'inizio di content
    top: calc(0px + 200px);
    height: 600px;
    width: 200px;
    .footerList {
      flex-direction: column;
      .listItem {
        display: flex;
        padding: 0 10px;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;

        .iconsText {
          display: block;
          margin-top: 18px;
        }
      }
    }
  }
}
