.Footer {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  font-weight: 200;
  font-size: 0.8rem;
  text-transform: uppercase;
  background: #1a1a1a;

  p {
    cursor: pointer;
  }
  .icons {
    display: flex;
    gap: 20px;
    padding-top: 10px;
    padding-left: 4px;
  }
  button {
    border-radius: $borderRadius;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $blue;
    border: none;
  }
  input {
    border-radius: $borderRadius;
    padding-left: 10px;
  }
}
@include mobile {
  .Footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  button {
    margin-left: 0;
  }
  .icons {
    margin-right: 4px;
  }
  input {
    max-width: 150px;
  }
  .movies {
    border-bottom: 1px solid;
    max-width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .location {
    border-bottom: 1px solid;
    max-width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .company {
    border-bottom: 1px solid;
    max-width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
